IDOCalls/Service References/IDOWebServiceReference/IDOWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://frontstep.com/IDOWebService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://frontstep.com/IDOWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://frontstep.com/IDOWebService">
      <s:element name="GetConfigurationNames">
        <s:complexType />
      </s:element>
      <s:element name="GetConfigurationNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConfigurationNamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateSessionToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPswd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strConfig" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSessionTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateSessionTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIDOName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPropertyList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPostQueryMethod" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iRecordCap" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="refreshAfterSave" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strCustomInsert" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCustomUpdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCustomDelete" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIDOName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMethodName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMethodParameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallMethodResult" />
            <s:element minOccurs="0" maxOccurs="1" name="strMethodParameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIDOName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPropertyList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPostQueryMethod" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iRecordCap" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateJsonObject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCustomInsert" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCustomUpdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCustomDelete" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetConfigurationNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetConfigurationNames" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetConfigurationNamesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSessionTokenSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSessionToken" />
  </wsdl:message>
  <wsdl:message name="CreateSessionTokenSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSessionTokenResponse" />
  </wsdl:message>
  <wsdl:message name="LoadDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:LoadDataSet" />
  </wsdl:message>
  <wsdl:message name="LoadDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:LoadDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="SaveDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:SaveDataSet" />
  </wsdl:message>
  <wsdl:message name="SaveDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:SaveDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="CallMethodSoapIn">
    <wsdl:part name="parameters" element="tns:CallMethod" />
  </wsdl:message>
  <wsdl:message name="CallMethodSoapOut">
    <wsdl:part name="parameters" element="tns:CallMethodResponse" />
  </wsdl:message>
  <wsdl:message name="LoadJsonSoapIn">
    <wsdl:part name="parameters" element="tns:LoadJson" />
  </wsdl:message>
  <wsdl:message name="LoadJsonSoapOut">
    <wsdl:part name="parameters" element="tns:LoadJsonResponse" />
  </wsdl:message>
  <wsdl:message name="SaveJsonSoapIn">
    <wsdl:part name="parameters" element="tns:SaveJson" />
  </wsdl:message>
  <wsdl:message name="SaveJsonSoapOut">
    <wsdl:part name="parameters" element="tns:SaveJsonResponse" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationNamesHttpGetIn" />
  <wsdl:message name="GetConfigurationNamesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="CreateSessionTokenHttpGetIn">
    <wsdl:part name="strUserId" type="s:string" />
    <wsdl:part name="strPswd" type="s:string" />
    <wsdl:part name="strConfig" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateSessionTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoadDataSetHttpGetIn">
    <wsdl:part name="strSessionToken" type="s:string" />
    <wsdl:part name="strIDOName" type="s:string" />
    <wsdl:part name="strPropertyList" type="s:string" />
    <wsdl:part name="strFilter" type="s:string" />
    <wsdl:part name="strOrderBy" type="s:string" />
    <wsdl:part name="strPostQueryMethod" type="s:string" />
    <wsdl:part name="iRecordCap" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadDataSetHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="LoadJsonHttpGetIn">
    <wsdl:part name="strSessionToken" type="s:string" />
    <wsdl:part name="strIDOName" type="s:string" />
    <wsdl:part name="strPropertyList" type="s:string" />
    <wsdl:part name="strFilter" type="s:string" />
    <wsdl:part name="strOrderBy" type="s:string" />
    <wsdl:part name="strPostQueryMethod" type="s:string" />
    <wsdl:part name="iRecordCap" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadJsonHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveJsonHttpGetIn">
    <wsdl:part name="strSessionToken" type="s:string" />
    <wsdl:part name="updateJsonObject" type="s:string" />
    <wsdl:part name="strCustomInsert" type="s:string" />
    <wsdl:part name="strCustomUpdate" type="s:string" />
    <wsdl:part name="strCustomDelete" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveJsonHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationNamesHttpPostIn" />
  <wsdl:message name="GetConfigurationNamesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="CreateSessionTokenHttpPostIn">
    <wsdl:part name="strUserId" type="s:string" />
    <wsdl:part name="strPswd" type="s:string" />
    <wsdl:part name="strConfig" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateSessionTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoadDataSetHttpPostIn">
    <wsdl:part name="strSessionToken" type="s:string" />
    <wsdl:part name="strIDOName" type="s:string" />
    <wsdl:part name="strPropertyList" type="s:string" />
    <wsdl:part name="strFilter" type="s:string" />
    <wsdl:part name="strOrderBy" type="s:string" />
    <wsdl:part name="strPostQueryMethod" type="s:string" />
    <wsdl:part name="iRecordCap" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadDataSetHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="LoadJsonHttpPostIn">
    <wsdl:part name="strSessionToken" type="s:string" />
    <wsdl:part name="strIDOName" type="s:string" />
    <wsdl:part name="strPropertyList" type="s:string" />
    <wsdl:part name="strFilter" type="s:string" />
    <wsdl:part name="strOrderBy" type="s:string" />
    <wsdl:part name="strPostQueryMethod" type="s:string" />
    <wsdl:part name="iRecordCap" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadJsonHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveJsonHttpPostIn">
    <wsdl:part name="strSessionToken" type="s:string" />
    <wsdl:part name="updateJsonObject" type="s:string" />
    <wsdl:part name="strCustomInsert" type="s:string" />
    <wsdl:part name="strCustomUpdate" type="s:string" />
    <wsdl:part name="strCustomDelete" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveJsonHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="IDOWebServiceSoap">
    <wsdl:operation name="GetConfigurationNames">
      <wsdl:input message="tns:GetConfigurationNamesSoapIn" />
      <wsdl:output message="tns:GetConfigurationNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSessionToken">
      <wsdl:input message="tns:CreateSessionTokenSoapIn" />
      <wsdl:output message="tns:CreateSessionTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadDataSet">
      <wsdl:input message="tns:LoadDataSetSoapIn" />
      <wsdl:output message="tns:LoadDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveDataSet">
      <wsdl:input message="tns:SaveDataSetSoapIn" />
      <wsdl:output message="tns:SaveDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallMethod">
      <wsdl:input message="tns:CallMethodSoapIn" />
      <wsdl:output message="tns:CallMethodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadJson">
      <wsdl:input message="tns:LoadJsonSoapIn" />
      <wsdl:output message="tns:LoadJsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveJson">
      <wsdl:input message="tns:SaveJsonSoapIn" />
      <wsdl:output message="tns:SaveJsonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IDOWebServiceHttpGet">
    <wsdl:operation name="GetConfigurationNames">
      <wsdl:input message="tns:GetConfigurationNamesHttpGetIn" />
      <wsdl:output message="tns:GetConfigurationNamesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSessionToken">
      <wsdl:input message="tns:CreateSessionTokenHttpGetIn" />
      <wsdl:output message="tns:CreateSessionTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadDataSet">
      <wsdl:input message="tns:LoadDataSetHttpGetIn" />
      <wsdl:output message="tns:LoadDataSetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadJson">
      <wsdl:input message="tns:LoadJsonHttpGetIn" />
      <wsdl:output message="tns:LoadJsonHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveJson">
      <wsdl:input message="tns:SaveJsonHttpGetIn" />
      <wsdl:output message="tns:SaveJsonHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IDOWebServiceHttpPost">
    <wsdl:operation name="GetConfigurationNames">
      <wsdl:input message="tns:GetConfigurationNamesHttpPostIn" />
      <wsdl:output message="tns:GetConfigurationNamesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSessionToken">
      <wsdl:input message="tns:CreateSessionTokenHttpPostIn" />
      <wsdl:output message="tns:CreateSessionTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadDataSet">
      <wsdl:input message="tns:LoadDataSetHttpPostIn" />
      <wsdl:output message="tns:LoadDataSetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadJson">
      <wsdl:input message="tns:LoadJsonHttpPostIn" />
      <wsdl:output message="tns:LoadJsonHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveJson">
      <wsdl:input message="tns:SaveJsonHttpPostIn" />
      <wsdl:output message="tns:SaveJsonHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IDOWebServiceSoap" type="tns:IDOWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConfigurationNames">
      <soap:operation soapAction="http://frontstep.com/IDOWebService/GetConfigurationNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSessionToken">
      <soap:operation soapAction="http://frontstep.com/IDOWebService/CreateSessionToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDataSet">
      <soap:operation soapAction="http://frontstep.com/IDOWebService/LoadDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataSet">
      <soap:operation soapAction="http://frontstep.com/IDOWebService/SaveDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallMethod">
      <soap:operation soapAction="http://frontstep.com/IDOWebService/CallMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJson">
      <soap:operation soapAction="http://frontstep.com/IDOWebService/LoadJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveJson">
      <soap:operation soapAction="http://frontstep.com/IDOWebService/SaveJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IDOWebServiceSoap12" type="tns:IDOWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConfigurationNames">
      <soap12:operation soapAction="http://frontstep.com/IDOWebService/GetConfigurationNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSessionToken">
      <soap12:operation soapAction="http://frontstep.com/IDOWebService/CreateSessionToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDataSet">
      <soap12:operation soapAction="http://frontstep.com/IDOWebService/LoadDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataSet">
      <soap12:operation soapAction="http://frontstep.com/IDOWebService/SaveDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallMethod">
      <soap12:operation soapAction="http://frontstep.com/IDOWebService/CallMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJson">
      <soap12:operation soapAction="http://frontstep.com/IDOWebService/LoadJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveJson">
      <soap12:operation soapAction="http://frontstep.com/IDOWebService/SaveJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IDOWebServiceHttpGet" type="tns:IDOWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetConfigurationNames">
      <http:operation location="/GetConfigurationNames" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSessionToken">
      <http:operation location="/CreateSessionToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDataSet">
      <http:operation location="/LoadDataSet" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJson">
      <http:operation location="/LoadJson" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveJson">
      <http:operation location="/SaveJson" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IDOWebServiceHttpPost" type="tns:IDOWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetConfigurationNames">
      <http:operation location="/GetConfigurationNames" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSessionToken">
      <http:operation location="/CreateSessionToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDataSet">
      <http:operation location="/LoadDataSet" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJson">
      <http:operation location="/LoadJson" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveJson">
      <http:operation location="/SaveJson" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IDOWebService">
    <wsdl:port name="IDOWebServiceSoap" binding="tns:IDOWebServiceSoap">
      <soap:address location="http://grcdslutil/IDORequestService/IDOWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="IDOWebServiceSoap12" binding="tns:IDOWebServiceSoap12">
      <soap12:address location="http://grcdslutil/IDORequestService/IDOWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="IDOWebServiceHttpGet" binding="tns:IDOWebServiceHttpGet">
      <http:address location="http://grcdslutil/IDORequestService/IDOWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="IDOWebServiceHttpPost" binding="tns:IDOWebServiceHttpPost">
      <http:address location="http://grcdslutil/IDORequestService/IDOWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>